global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'auth-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: auth-service
        action: keep
    metrics_path: /metrics

  - job_name: 'contest-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: contest-service
        action: keep
    metrics_path: /metrics

  - job_name: 'submission-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: submission-service
        action: keep
    metrics_path: /metrics

  - job_name: 'execution-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: execution-service
        action: keep
    metrics_path: /metrics

  - job_name: 'scoring-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: scoring-service
        action: keep
    metrics_path: /metrics

  - job_name: 'leaderboard-service'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: leaderboard-service
        action: keep
    metrics_path: /metrics

